<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ pageTitle }}</title>
	</head>
	<body>
		<header>
			<h1>{{ pageTitle }}</h1>
			<nav>
				<a href="/">Home</a> | 
				<a href="/about">About</a> | 
				<a href="/projects">projects</a> | 
				<a href="/help.html">Help</a>
			</nav>
		</header>